name: Build AppImage for aarch64
permissions:
  contents: write
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [published]
  workflow_dispatch:
jobs:
  build-aarch64:
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download Arch Linux ARM rootfs
        run: |
          wget http://os.archlinuxarm.org/os/ArchLinuxARM-aarch64-latest.tar.gz
          sudo mkdir /arch
          sudo tar xpf ArchLinuxARM-aarch64-latest.tar.gz -C /arch

      - name: Mount chroot mounts
        run: |
          sudo mount --bind /proc /arch/proc
          sudo mount --bind /sys /arch/sys
          sudo mount --bind /dev /arch/dev

          sudo mkdir -p /arch/home/build
          sudo mount --bind $GITHUB_WORKSPACE /arch/home/build

      - name: Run Arch build in chroot
        run: |
          sudo chroot /arch /bin/bash -eux << 'EOF'
            cd /home/build

            pacman-key --init
            pacman-key --populate archlinuxarm

            pacman -Syu --noconfirm
            pacman -S --noconfirm \
              binutils desktop-file-utils fakeroot gdk-pixbuf2 patchelf \
              python python-pip python-virtualenv python-setuptools \
              squashfs-tools strace wget zsync meson ninja vala \
              libadwaita gtk4 libgee procps

            python -m venv .venv
            source .venv/bin/activate
            pip install --upgrade pip
            pip install appimage-builder

            meson setup _build -Dprefix=/usr
            ninja -C _build

            rm -rf _build/AppDir
            meson install -C _build --no-rebuild --destdir AppDir

            glib-compile-schemas _build/AppDir/usr/share/glib-2.0/schemas

            appimage-builder --appdir _build/AppDir --recipe AppImageBuilder-aarch64.yml --skip-tests
            mv *.AppImage Wattage-latest-aarch64.AppImage
          EOF

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Wattage-aarch64
          path: Wattage-latest-aarch64.AppImage

      - name: Upload release release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v2
        with:
          files: Wattage-latest-aarch64.AppImage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
